.main{
    background-color: blueviolet;
    width:1000px;
    height:500px;
    display: inline-block;
    overflow: none;
}
.box{
    background-color: aqua;
    width:200px;
    height: 100px;
}
.main2{
    color:black;
    z-index: 10;
    background-color: aqua;
    width: auto;
    display: flex;
}